.about_me_icon{
    animation-name: slideAndFade; 
    animation-duration: 3s;
    animation-timing-function: ease-in-out; 
    animation-iteration-count: infinite; 
}

@keyframes slideAndFade {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}