@import url('https://fonts.googleapis.com/css2?family=Briem+Hand:wght@100..900&family=Inter:wght@400;600&family=Lora:ital,wght@0,600;1,700&family=Merriweather:wght@700&family=Roboto:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.briem_hand{
  font-family: "Briem Hand", cursive;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.poetsen_one_regular {
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.color_pink{
    color: #fe004a;
}

.robboto500{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}